@page
@model Host.Areas.Dashboard.Pages.Shop.Airlines.EditModel
@{
    Layout = "Shared/_DashboardLayout";
    ViewData["title"] = "ویرایش خط هوایی";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">@ViewData["title"]</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <form method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="Command.Name" class="control-label">عنوان</label>
                                        <input type="text" class="form-control" asp-for="Command.Name">
                                        <span asp-validation-for="Command.Name" class="error"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="Command.Info" class="control-label">اطلاعات</label>
                                        <input type="text" class="form-control" asp-for="Command.Info">
                                        <span asp-validation-for="Command.Info" class="error"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="Command.Picture" class="control-label">عکس</label>
                                        <input type="file" class="form-control" asp-for="Command.Picture" accept="image/*">
                                        <span asp-validation-for="Command.Picture" class="error"></span>
                                    </div>
                                </div>
                            </div>

                            <input type="hidden" asp-for="Command.Id" value="@Model.Command.Id" />
                            <a asp-page="Index" class="btn btn-dark m-b-5">بازگشت</a>
                            <button permission="@ShopPermissions.Airline.Edit" type="submit" class="btn btn-info">ویرایش</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
