@page
@model Host.Areas.Dashboard.Pages.Hotel.HotelPictures.CreateModel
@{
    Layout = "Shared/_DashboardLayout";
    ViewData["title"] = "ایجاد عکس جدید هتل";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">@ViewData["title"]</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <form method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label" asp-for="Command.HotelId">هتل</label>
                                        <select class="form-control" asp-for="Command.HotelId" asp-items='new SelectList(Model.Hotels, "Id", "Name")'>
                                            <option value="0">انتخاب هتل...</option>
                                        </select>
                                        <span asp-validation-for="Command.HotelId" class="error"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="Command.Name" class="control-label">عنوان</label>
                                        <input type="text" class="form-control" asp-for="Command.Name">
                                        <span asp-validation-for="Command.Name" class="error"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="Command.Picture" class="control-label">عکس</label>
                                        <input type="file" class="form-control" asp-for="Command.Picture" accept="image/*">
                                        <span asp-validation-for="Command.Picture" class="error"></span>
                                    </div>
                                </div>
                            </div>

                            <a asp-page="Index" class="btn btn-dark m-b-5">بازگشت</a>
                            <button permission="@HotelPermissions.HotelPicture.Create" type="submit" class="btn btn-info">ایجاد</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
